
body {
	margin: 0;
	background-color: #afdafa;
	width:100%;
	font-family: 'Roboto', sans-serif;
}

.panelTD {
	font-size: 14px;
	line-height: 78px;
	padding-left: 0px;
	padding-right: 36px;
}

.fa-search {
	margin-left: -30px;
}

.FirstButton {
	margin-left: auto;
}

.panelButton {
	background-color: #7BC5F4;
	color: #FFFFFF;
	width: 134px;
	height: 40px;
	text-align: middle;
	border: 0px;
	border-radius: 7px;
	outline: none;
	cursor: pointer;
}

.cartSeperatorH {
	margin-left: 25px;
	height: 1px;
	color: #FFFFFF;
	width: 800px;
}

.panelButton:hover {
	background-color: #02A7F0;
}

#upPanel {
	width: 100%;
	height: 86px;
	background-color: #2D719D;
	top: 0;
	position: fixed;
}

#search {
	height: 38px;
	width: 300px;
	color:#000000;
  	font-size: 14px;
  	padding: 0px;
  	border: 0px;
  	border-radius: 7px;
  	outline: none;
}

.sidebar {
	flex-direction: column;
	width: 254px;
	top: 82px;
	position:fixed;
	background-color: #2D719D;
	height:100%;
}

.blocks {
	width: 250px;
	height: 50px;
	background-color: #6191B0;
	border-top: 2px solid #7BC5F4;
	border-left: 2px solid #7BC5F4;
	border-right: 2px solid #7BC5F4;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: medium;
	text-align: center;
	line-height: 47px;
}

.blocks:hover {
	background-color: #027DB4;
}

.lastBlock {
	width: 250px;
	height: 50px;
	background-color: #6191B0;
	border-bottom: 2px solid #7BC5F4;
	border-top: 2px solid #7BC5F4;
	border-left: 2px solid #7BC5F4;
	border-right: 2px solid #7BC5F4;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: medium;
	text-align: center;
	line-height: 47px;
}

.lastBlock:hover {
	background-color: #027DB4;
}

.contentDetailed {
	width: 650px;
	margin-left: 270px;
	margin-top: 88px;
	height: 420px;
}
.content {
	margin-left: 270px;
	margin-top: 88px;
	height: 1500px;
}

.itemMap {
	display: flex;
	width: 400px;
	justify-content: flex-start;
	font-size: 11px;
	top: 0;
}

.footer {
	right: 0;
	background-color: #2D719D;
	bottom: 0;
	text-align: middle;
	padding-left: 254px;
}

.footer h1 {
	font-size: 24px;
	color: #7BC5F4;
}

.footer h2 {
	font-size: 14px;
	color: #7BC5F4;
}

.footerTD{
	width: 100%;
}

.footerTD td {
	margin-left:254px;
	width: 25%;
	text-align: center;
}

.copyright {
	color: #AAAAAA;
	text-align: center;
	font-size: 13px;
}

.detailed {
	width: 650px;
	display: flex;
	margin-left: 45px;
	margin-top: 15px;
	justify-content: flex-start;
}

.picture {
	width: 350px;
}
.picture p {
	margin-left: 4px;
	margin-top: 15px;
	font-size: 18px;
	color: black;
}

.dot {
	height: 54px;
	width: 54px;
	background-color:black;
	border-radius: 50%;
	display: inline-block;
	border: 2px;
	border-color: green;
}

.itemName {
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
	width: 182px;
	height: 65px;
	flex-wrap: wrap;
	margin-left: 4px;
}

.nameFix {
	width: 182px;
}
.detailed h1 {
	font-size: 20px;
	color: black;
	font-weight: bold;
}

.detailedPriceContainer {
	width: 300px;
	
	flex-direction: column;
}

.detailedPrice {
	display: flex;
	margin-left: 4px;
	width: 192px;
	height: 50px;
}

.priceBox {
	display: flex;
	width: 96px;
	height: 50px;
	margin-top: 8px;
}

.stock {
	display: flex;
	width: 192px;
	margin-top: 12px;
}

.inStock {
	background-color: #95F204;
	border-radius: 5px;
	width: 58px;
	height: 20px;
}

.inStock p {
	font-size: 12px;
	margin: 0px;
	margin-left: 4px;
	margin-top: 3px;
}

.VAT {
	flex-direction: column;
}

.VAT p {
	font-size: 8px;
	color: #333333;
	margin-left: 40px;
}

.seperatorH {
	width: 218px;
	height: 1px;
	background-color: #7BC5F4;
}

.toCart {
	display: flex;
}
.cartButton {
	background-color: #95F204;
	color: #FFFFFF;
	width: 121px;
	height: 65px;
	border: 0px;
	border-radius: 8px;
	margin-left: 40px;
	margin-top: 16px;
	cursor: pointer;
	outline: none;
}

.cartButton:hover {
	background-color: #70B603;
}

.cartText {
	font-size: 14px;
	margin-bottom: 7px;
}

.itemAmount {
	margin-top: 16px;
	margin-left: 25px;
	align-self: center;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  	-webkit-appearance: none;
 	 margin: 0;
}

input[type=number] {
  	-moz-appearance: textfield;
}

.memorySize {
	display: flex;
	margin-left: 70px;
	margin-top: 20px;
}

.memorySizeButton {
	font-size: 13px;
	background-color: #FFFFFF;
	color: #02A7F0;
	outline: none;
	border: 0px;
	width: 53px;
	height: 21px;
	border-radius: 5px;
	cursor: pointer;
}
.delivery {
	flex-direction: column;
	margin-left: 79px;
	margin-top: 20px;
}

.delivery p {
	font-size: 10px;
	color: #333333;
}

.descriptionSeperator {
	width: 393px;
	height: 1px;
	background-color: #7BC5F4;
	margin-left: 94px;
}

.descriptionContainer {
	width: 650px;
	margin-top: 10px;
	height: 1000px;
	margin-left: 254px;
}

.descMenu {
	margin-left: 145px;
	margin-top: 14px;
}
.descButton1 {
	background-color: #7BC5F4;
	color: #FFFFFF;
	height: 35px;
	width: 135px;
	outline: none;
	border-radius: 5px 0 0 5px;
	border: 0px;
	padding: 0px;
	float: left;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}
.descButton2 {
	background-color: #FFFFFF;
	color: #7BC5F4;
	height: 35px;
	width: 150px;
	outline: none;
	border-radius: 0 5px 5px 0;
	border: 0px;
	padding: 0px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}

.descTextContainer1 {
	margin-top: 44px;
	margin-left: 57px;
	width: 575px;
}
.descTextContainer2 {
	margin-top: 44px;
	margin-left: 57px;
	width: 575px;
}

.descTextContainer2 h1 {
	font-size: 25px;
	font-weight: medium;
	color: #7BC5F4;
}

.descTextContainer2 p {
	font-size: 15px;
	font-weight: normal;
	color: black;
}

.descText {
	margin-top: 20px;
	width: 480px;
	margin-bottom: 33px;
}

.contenthead1 h1 {
	margin: 0px;
	margin-top: 16px;
	margin-left: 20px;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}
.contenthead2 h1 {
	color: #FFFFFF;
	margin: 0px;
	margin-top: 16px;
	margin-left: 20px;
	font-size: 14px;
	font-weight: bold;
}
.content1 p {
	margin: 0px;
	margin-top: 16px;
	font-size: 14px;
	color: #333333;
	font-weight: normal;
}
.content2 p {
	color: #FFFFFF;
	margin: 0px;
	margin-top: 16px;
	font-size: 14px;
	font-weight: normal;
}
.technicalContent1 {
	display: flex;
	flex-wrap: wrap;
	height: 440px;
	width: 552px;
}

.contenthead1 {
	background-color: #FFFFFF;
	height: 55px;
	width: 195px;
}
.contenthead2 {
	background-color: #7BC5F4;
	height: 55px;
	width: 195px;
}
.content1 {
	height: 55px;
	width: 355px;
	
}
.content2 {
	height: 55px;
	width: 355px;

	background-color: #7BC5F4;
}

.bottomInfo {
	display: flex;
	flex-wrap: wrap;
	width: 560px;
	height: 200px;

}

.bottomRowLeft {
	display: flex;
	width: 230px;
	height: 32px;
	margin-top: 25px;
	margin-left: 20px;
}
 .bottomRowRight {
 	display: flex;
 	margin-left: 67px;
 	height: 32px;
 	width: 230px;
	margin-top: 25px;
 }

.bottomInfo2{
	display: flex;
	flex-wrap: wrap;
	width: 560px;
	height: 140px;
}
.bottomRowLeft2 {
	display: flex;
	width: 230px;
	height: 100px;
	margin-top: 60px;
	margin-left: 20px;
}
 .bottomRowRight2 {
 	display: flex;
 	margin-left: 67px;
 	height: 100px;
 	width: 230px;
	margin-top: 60px;
 }

.rightSide {
	margin-left: 950px;
	top: 134px;
	height: 1200px;
	position: absolute;
	z-index: 0;
	flex-direction: column;
	width: 200px;
}

.rightSide h1 {
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 20px;
	margin-left: 15px;
}
.rightSide h2 {
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 20px;
	margin-top: 10px;
}

.sideSeperator {
	height: 1px;
	width: 180px;
	margin-bottom: 20px;
	background-color: #7BC5F4;
}

.phoneContainer {
	margin-bottom: 40px;
	margin-left: 22px;
}
.TopPanel {
	display: flex;
	flex-direction: row;
	position: fixed;
	background-color: #2D719D;
	width: 100%;
	align-items: center;
	max-width: 1400px;
	top: 0;
	z-index: 10000;
}

.container {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
	padding-top: 5px;
}

.featured {
	margin-top: 82px;
	font-size: 24px;
	font-weight: bold;
	margin-left: 320px;
	padding-top: 30px;
}

.maincontent {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 30px;
	margin-top: 50px;
	margin-left: 284px;
}

.productbox {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 197px;
	height: 486px;
	border-width: 2px;
	border: solid;
	border-color: #D7D7D7;
	border-radius: 20px;
	margin-left: 30px;
	margin-bottom: 30px;
	box-shadow: 7px 7px 5px #A7A7A7;
}

.productbox:hover {
	transform: translateY(-5px);
	z-index: 10;
}

.Productname {
	font-size: 14px;
	font-weight: bold;
}

.Productinfo {	
	font-size: 13px;
	color: #7F7F7F;
	align-self: flex-start;
}

.Productprice {
	font-size: 24px;
}

.BuyButton {
	width: 92px;
	height: 43px;
	color: #FFFFFF;
	background-color: #95F204;
	text-align: middle;
	border-radius: 10px;
	border: 0px;
	font-size: 16px;
	font-weight: bold;
	outline: none;
	cursor: pointer;
}

.BuyButton:hover {
	background-color: #70B603;
}

.return {
	font-size: 70px;
	padding-left: 20px;
	color: #38B6FF;
}

.fa-long-arrow-alt-left {
	color: #38B6FF;
}

.sidebarshop {
	background-color: #2D719D;
	width: 100px;
	height: 100%;
	position: fixed;
}

.maincartarea {
	margin-left: 120px;
	margin-top: 82px;
}

.ShopCart {
	font-size: 16px;
	padding-top: 30px;
	padding-left: 50px;
	padding-bottom: 10px;
}

.bluecart {
	color: #7BC5F4;
}

.blackcart {
	color: black;
}

.fa-user {
	color: black;
}

.CartItem {
	display: flex;
	flex-direction: row;
	margin-top: 30px;
}

.Itempicture {
	padding-left: 30px;
	width: 170px;
}

.Cartproductinfo {
	padding-left: 0px;
	width: 170px;
	padding-right: 400px;
}

.Cartproductname {
	color: #0000BF;
	font-size: 16px;
	padding-top: 10px;
}

.productnumber {
	font-size: 10px;
	color: #AAAAAA;
	margin-top: 40px;
}

.minus {
	padding-left:100px;
	font-size: 32px;
	color: #D9001B;
	margin-top: 16px;
	padding-top: 2px;
}

.trashCan {
	padding-left: 25px;
	padding-top: 4px;
}
.buyamount {
	margin-left: 20px;
	margin-right: 20px;
}

.amount {
	font-size: 10px;
	color: #0000BF;
	padding-bottom: 18px;
}

.amountcounter {
	font-size: 10px;
	border: solid 1px #000000;
	padding-left: 12px;
}

.quantityCart {
	padding-left: 7px;
}

.plus {
	font-size: 22px;
	color: #04D919;
	margin-top: 23px;
	padding-top: 2px;
}

.fa-trash-alt {
	margin-top: 26px;
	margin-left: 30px;
}

.pricestuff {
	margin-left: 70px;
	margin-right: 70px;
}

.pricetext {
	font-size: 10px;
	color: #0000BF;
	padding-bottom: 18px;
}

.priceamount {
	font-size: 12px;
}

.totalcosts {
	display: flex;
	flex-direction: row;
	font-size: 12px;
}

.totalcosttext {
	margin-left: auto;
	margin-right: 58px;
}

.Shippingcosttext {
	padding-top: 5px;
	padding-bottom: 5px;
}

.deliverytime {
	font-size: 10px;
	color: #7F7F7F;
	padding-bottom: 10px;
}

.individualtotals {
	margin-right: 65px;
}

.shippingcostnumbers {
	padding-top: 4px;
	padding-bottom: 5px
}

.cartbottom {
	display: flex;
	flex-direction: row;
}

.continuecontainer {
	margin-left: 40%
}

.continuebutton {
	color: #FFFFFF;
	border: solid 1px grey;
	background-color: #95F204;
	padding: 5px 40px 5px 40px;
	font-size: 13px;
	border-radius: 5px;
	margin-top: 5px;
	margin-bottom: 20px;
	outline: none;
}

.continuebutton:hover {
	background-color: #70B603;
}

.totalbuycost {
	font-size: 15px;
	font-weight: bold;
	margin-right: 150px;
	margin-left: auto;
	margin-top: 10px;
}

.totalcostmoney {
	font-size: 15px;
	font-weight: bold;
	margin-right: 52px;
	margin-top: 10px;
}

.landingarea {
	margin-left: 120px;
	margin-top: 82px;
}

.landingpagetext {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.welcome {
	margin-top: 170px;
	font-size: 24px;
}

.landinginfotext {
	margin-top: 30px;
	font-size: 24px;
}

.projectlink {
	margin-top: 30px;
	font-size: 30px;
	border: solid 2px black;
	padding: 5px 5px 5px 5px ; 
	border-radius: 10px;
}

.holidays {
	font-size: 24px;
	margin-top: 50px;
}

.regards {
	font-size: 24px;
	margin-top: 30px;
}

.arttu {
	font-size: 24px;
	margin-top: 15px;
}

.santeri {
	font-size: 24px;
	margin-top: 5px;
	padding-bottom: 260px;
}

a:link, a:visited {
    color: blue;
}